* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(14, 54, 171, 1) 65%);
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 99;
}

.menubar, .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    margin-left: 0;
}

.nav-menu {
    background: rgb(238, 174, 202);
    background: linear-gradient(360deg, rgba(238, 174, 202, 1) 0%, rgba(14, 54, 171, 1) 65%);
    width: 20vw;
    height: 100vh;
    position: fixed;
    justify-content: start;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 450ms;
}

.nav-text {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 8px 0px 8px 16px;
}

.navbar-toggle {
    display: flex;
    place-items: center;
    padding: 8px 0px 8px 16px;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 90%;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 4px;
    padding: 8px 8px;
}

.nav-text a:hover {
    background-color: lightblue;
    color: black;
}

span {
    margin-left: 5px;
}

.nav-menu-items {
    text-decoration: none;
}

.navshift {
    left: 20vw;
    transition: 0.45s;
}

.navdefault {
    left: 0;
    transition: 1s;
}

@media only screen and (max-width: 600px) {
    .nav-menu {
        width: 50vw;
    }
    .navshift {
        left: 50vw;
        transition: 0.45s;
    }
}

